.done {
  text-decoration: line-through;
}

#taskList li {
  margin-bottom: 8px;
}

#taskList li button {
  margin-left: 8px;
}

#todoInput, #addTask {
  padding: 8px;
}

button {
  background-color: #0D3972;
  color: #fff;
  border-color: #0D3972;
}

button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}



